@import url("https://woomy.be/style/schemes/dark.css");
@import url("https://woomy.be/style/schemes/light.css") (prefers-color-scheme: light);

body, p, span {
  background-color: var(--background);
  color: var(--onBackground);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.center {
  text-align: center;
}

code {
  line-height: 1.6;
  display: block;
  font-family: monospace;
  font-size: x-large;
  background-color: var(--surface);
  border: 1px solid var(--outline);
  color: var(--onSurface);
  display: block;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  overflow-x: auto;
}

.prompt {
  font-family: inherit;
  color: var(--primary);
  font-weight: 700;
  background-color: inherit;
}

a {
  color: var(--secondary);
}
