@import url("https://woomy.be/style/schemes/dark.css");
@import url("https://woomy.be/style/schemes/light.css") (prefers-color-scheme: light);

body, p, span {
  background-color: var(--background);
  color: var(--onBackground);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.center {
  text-align: center;
}

pre {
  position: relative;
  line-height: 1.6;
  display: block;
  font-family: monospace;
  font-size: x-large;
  background-color: var(--surface);
  border: 1px solid var(--outline);
  color: var(--onSurface);
  display: block;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  overflow-x: auto;
  white-space: normal;
}

pre button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;

  background-color: var(--secondary);
  color: var(--onSecondary);
  border: 1px solid var(--outline);
  border-radius: 5px;
}

.prompt {
  font-family: inherit;
  color: var(--primary);
  font-weight: 700;
  background-color: inherit;
}

a {
  color: var(--secondary);
}

/* Code copy buttons are disabled by default and enabled if javascript is enabled */
.code-copy-button {
  display: none;
}
